<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bordered-0 mb-5 px-0">


      <img src="/img/no-image.png"  class="card-img-top imgProduct" onerror="this.onerror=null;this.src='/img/no-image.png';">
      <div class="card-body">
        <form action="/add" method="POST" enctype="multipart/form-data">

            <label class="form-label fw-bold mt-3">Image</label>
            <input
                type="file"
                name="image"
                class="form-control mb-3" accept="image/*"
            />  

            <label class="form-label fw-bold">Judul</label>
            <input
                required
                type="text"
                name="name"
                value=""
                placeholder="Judul"
                class="form-control mb-3"
            />
            <label class="form-label fw-bold">Harga</label>
            <input
                required
                type="number"
                name="price"
                value=""
                placeholder="Harga"
                class="form-control mb-3"
            />
            <label class="form-label fw-bold">Stok</label>
            <input
                required
                type="number"
                name="stock"
                value=""
                placeholder="Stok"
                class="form-control mb-3"
            />
            <label class="form-label fw-bold">Kategori</label>
            <select class="form-select" required name="category" id="category">
                

                <%  if (category) { %> <% for(var i = 0; i < category.length; i++) { %>
                    <option value="<%= category[i].id %>"><%= category[i].name %></option>
                <% } %> <% } %>

            </select>

            

            <!-- title 
            stock 
            image 
            category
            price -->
            <button type="submit" class="btn btn-dark btn-lg w-100 my-4 fw-bold">Simpan</button>
            <a href="/" class="btn btn-link text-black text-decoration-none w-100"><i class='bx bx-chevron-lefts'></i><strong>Kembali</strong></a>


        </form>
      </div>
    </div>
  </div>
</div>




<%- include("partials/_footer") %>
